
<!--The content below is only a placeholder and can be replaced.-->

  

<div class="hello" style="text-align:center">  
    <h1>
       <span>{{ title }}!</span> 
    </h1>  
  </div>
<!-- <div style="text-align:center"> -->
  
<div class="circle"></div>



 
 <div class="jumbo_circle">
     <!-- <div img_zone_one>1</div>
     <div img_zone_two>2</div>
     <div img_zone_three>3</div>
     <div img_zone_four>4</div>
     <div img_zone_five>5</div>
     <div img_zone_six>6</div> -->
 </div>

<!-- <div class="background-image">
    <section>
        <div class="hero">
            <img src="space-911785_1920.jpg" alt="">
            <h1 class="headline">Dream Big</h1>
        </div>
    </section>

</div> -->
<!-- <div ng-init="myVar = './src/img/space-911785_1920'">
    <h1>Angular</h1>
    <img ng-src="{{myVar}}">
</div> -->

<!-- <form action="<button type="submit">Submit</button>
">name</form> -->

{{ title }}No.1
<div class="svg-container">
    <svg width="159" height="138" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
    Created with SVG-edit - https://github.com/SVG-Edit/svgedit
      <g class="layer">
        <title>Layer 1</title>
        <ellipse class="littleDot" cx="84.5" cy="69.5" fill="black" id="svg_2" rx="74" ry="68" stroke="#000000" stroke-width="0"/>
        <ellipse class="bigDot" cx="104.5" cy="49.5" fill="#ffffff" id="svg_4" rx="12" ry="14" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
        </g>
    </svg>
  </div>
<footer class="footer" style="text-align:center"> by Andre thats me </footer>
<router-outlet></router-outlet> 
