/* You can add global styles to this file, and also import other style files */
*{
    background-color: antiquewhite;
}

.svg-container{
    height: 0px;
    width: 0px;
    // opacity: .3;
    background-color: rgb(104, 69, 24);
    z-index: 0;
}

.hello {
    position: relative;
    margin-top: -80px;
    margin-bottom: 0px;
    width: 511px;
    height: 100px;
    margin-left: 0px;
    margin-right: 300px;
    

    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    

}


.circle {
    display: inline;
    position: fixed;
    background-color: maroon;
    width: 100px;
    height: 100px;
    top: 70px;
    right: 50%;
    border-radius: 50%;
    top: 0;
    // border: 10px solid plum;
    opacity: .5;
    transition: all 1.3s;
    // z-index: 9;
}

.circle:hover {
    background-color: blanchedalmond;
    border: 10px solid blanchedalmond;
    transform: scale(.9);
    filter: blur(1.5rem);
}

.layer {
    position: fixed;
    height: 10%;
    z-index: 3;
    opacity: .5;
    
   
}

.layer:hover {
    position: fixed;
    transform: scale(.9);
    transition: all 1.3s;
    opacity: .3;
}


.littleDot {
    fill: maroon;

}


.bigDot {
    fill: darkgoldenrod;
    // animation: spin 5s infinite linear;

}


.background-image {
    position: relative;
    background-color: chartreuse;
    height: 200px;

}


.jumbo_circle {
    position: relative;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    grid-column-gap: 6px;
    padding: 15px;
    // grid-template-columns: 10;
    // grid-template-rows: 10;
    
    height: 600px;
    width: 600px;
    // align-items: center;
    left: 50%;
    right: 50%;
    top: 150px;
    // bottom: 50%;
    border-radius: 50%;
    background-color: black;
    background-image: url('src/app/img/pop-art-1705441_1280.png');

}

.img_zone_one {
    display: inline;
    background-image: url('src/app/img/pop-art-1705442.png');
    // top: 50%;
    height: 500px;
    width: 100px;
    border-radius: 100% 0 0 100%;
    bottom: 8;
}


.footer {
    position: relative;
    top: 200px;
    bottom: 100%;

}

// code {
//     font: 1em sans-serif;
// }